<!--汇卡宝商户自助管理平台登录页-->



<nav class="login_nav">  <!--logo标题-->

    <div class="login_nav_logo"><img src="../../images/hkb_self_logo.png"/></div>
    <div class="login_nav_title">汇卡宝商户自助管理平台</div>

</nav>




<section class="login_content">

    <div>
        <div class="login_content_left"><img src="../../images/hkb_self_login.png"/></div>

        <div class="login_content_right">     <!--登录框-->

            <div class="login_content_input">

                <div class="login_input_title">登录</div>

                <div class="login_input_account">
                    <label>
                        <img src="../../images/hkb_icon_account.png"/>
                        <input class="login_input_label" type="tel" placeholder="手机号码" maxlength="11">
                        <div class="login_input_line"></div>
                    </label>

                    <label>
                        <img src="../../images/hkb_icon_password.png"/>
                        <input class="login_input_label" type="password" placeholder="密码" maxlength="11">
                        <div class="login_input_line"></div>
                    </label>

                    <label>
                        <img src="../../images/hkb_icon_code.png"/>
                        <input class="login_input_label" type="tel" placeholder="验证码" maxlength="11">
                        <div class="login_input_line"></div>
                        <div class="hkb_login_code"><img src="../../images/hkb_login_code.jpg"/></div>

                    </label>

                </div>

                <div class="login_content_prompt"></div>

                <div class="login_input_button" onclick="hkbErrorTips.errorShow({'text':'*账户名不能为空'})"><a href="../frame/hkb_basic_platform.html">登录</a></div>
                <div class="login_input_prompt"><a href="#">忘记密码？</a></div>

            </div>

        </div>

    </div>

</section>

<footer class="login_footer">
    <!--版权地址-->
    <div class="login_footer_link">
        <a href="#">用户协议</a>
        <a href="#">隐私政策</a>
        <a href="#">常见问题</a>
    </div>
    <div class="login_footer_copyright">Copyright © 2011-2017 xxxxxxx公司 版权所有 保留一切权利</div>

    <div class="login_footer_ip">上B0-00000000号 | 苏ICP备00000000号-0</div>

</footer>




