<div class="hkb_frame_content" id="hkbFrameContent">

   <div class="welcome_page">

       <p class="welcome_img"></p>

       <p class="welcome_font">欢迎使用汇卡宝商户自助服务平台</p>
   </div>

</div>

<script>


/*
    iframeHeight();

    function iframeHeight() {

        var ele = document.getElementById('hkbFrameContent')

        var winHeight = document.body.clientHeight;

        ele.style.minHeight = winHeight - 111 +'px'
    }
*/




</script>