<!-- /二级页-->
<div class="nav_hkb_tab">

    <div class="tab_content">
        <ul id="HKB_tabUl">
            <!-- 商户数据-->

            <li class="tab_block">

                <div class="tab_block_title">
                    <!-- 标题 -->
                    <img src="../../icon/tab_management_data_green.png">
                    <span>数据管理</span>
                </div>

                <!-- 下拉框-->
                <div class="drop_down_list">

                    <div class="main_content">

                        <!-- 内容1-->
                        <div class="drop_content_tab" onclick="window.location.href='../merchant_data/hkb_merchant_data.html'">
                            <p class="img_box">
                                <img src="../../icon/tab_management_data_green.png">
                            </p>
                            <p>商户数据</p>
                        </div>

                        <!-- 内容2-->
                        <div class="drop_content_tab" onclick="window.location.href='../merchant_data/hkb_store_manager_data.html'">
                            <p class="img_box">
                                <img src="../../icon/tab_store_data_green.png">
                            </p>
                            <p>门店数据</p>
                        </div>

                        <!-- 内容2-->
                        <div class="drop_content_tab" onclick="window.location.href='../operate_data/hkb_operate_data.html'">
                            <p class="img_box">
                                <img src="../../icon/tab_set_data_green.png">
                            </p>
                            <p>运营数据设置</p>
                        </div>

                        <!-- arrow-->


                    </div>


                </div>

            </li>
            <!-- 商户管理-->
            <li class="tab_block">
                <div class="tab_block_title">
                    <img src="../../icon/tab_management_merchant_green.png">
                    <span>商户管理</span>
                </div>
                <!-- 下拉框-->
                <div class="drop_down_list">

                    <div class="main_content">

                        <!-- 内容1-->
                        <div class="drop_content_tab" onclick="window.location.href='../merchant_management/hkb_member_management.html'">
                            <p class="img_box">
                                <img src="../../icon/tab_management_member_green.png">
                            </p>
                            <p>成员管理</p>
                        </div>
                        <!-- arrow-->


                    </div>


                </div>

            </li>

            <!-- -->
            <li class="tab_block">

                <div class="tab_block_title">
                    <img src="../../icon/tab_query_data_green.png">
                    <span>运营数据查询</span>
                </div>

                <!-- 下拉框-->
                <div class="drop_down_list" >

                    <div class="main_content">

                        <div class="drop_content_tab" onclick="window.location.href='../operate_data/hkb_operate_data_query.html'">
                            <p class="img_box">
                                <img src="../../icon/tab_query_data_green.png">
                            </p>
                            <p>商户数据查询</p>
                        </div>

                        <div class="drop_content_tab" onclick="window.location.href='../transaction_query/transaction_query.html'">
                            <p class="img_box">
                                <img src="../../icon/tab_hkb_transaction.png">
                            </p>
                            <p>交易流水查询</p>
                        </div>

                        <!-- arrow-->
                        <span class="arrow"></span>


                    </div>


                </div>
            </li>

        </ul>
    </div>

</div>



<script>



basicPlatform.tabChange();


</script>