<!-- /nav -->
<nav class="basic_platform_nav">

    <!-- /标题-->
    <span class="nav_hkb_title"><img src="../../icon/nav_hkb_logo.png">汇卡宝商户自助服务平台</span>

    <div class="nav_hkb_operation">

        <span class="hkb_user"><img src="../../icon/nav_hkb_personal.png">庄中煲</span>

        <!-- 下拉窗口-->
        <div class="hkb_user_list" id="userList">
            <div class="title">账户信息</div>

            <div class="user_details">
                <p><span>职位：</span>门店店长</p>
                <p><span>账号：</span>977979797979797</p>
            </div>

            <div class="user_operation">
                <a href="javascript:;">修改密码</a>
                <a href="javascript:;">详情</a>
            </div>
        </div>


        <span class="hkb_home"><img src="../../icon/nav_hkb_logout.png">退出</span>

    </div>
</nav>

<script>



    basicPlatform.navUserDrop();
















































































































































































































































































































































</script>