<div class="hkb_frame_content" id="hkbFrameContent">

    <%- include('../operation_data/operation_data.ejs') %>

</div>

<script>

/*
    iframeHeight();

    function iframeHeight() {

        var ele = document.getElementById('hkbFrameContent')

        var winHeight = document.body.clientHeight;

        ele.style.minHeight = winHeight - 111 +'px'
    }
*/


    //iframe的窗口大小
/*    function ReFl() {
        var x2 = '';
        var x3 = '';
        var x1 = 0;
        var windowHeight = document.body.clientHeight;
        var windowWidth = document.body.clientWidth;

        var iframeWidth = 'auto';
        if (parseInt(windowWidth) > 1024) {
            x1 = parseInt(windowHeight) - 124;
            x2 = x1 + 'px';
            x3 = x1 + 40 + 'px';


        }
        else {
            x2 = (parseInt(windowHeight) - 45) + 'px';
            x3 = 'auto';

        }

        var id = 'iframeCss';
        var s = document.getElementById(id);
        if (!s) {
            s = addElement("style", "text/css", 'iframeCss', '', 'document.body', '')
        }
        s.innerHTML = '#iframeTt iframe{height:' + x2 + '!important;}.sidebar-wrap{height:' + x3 + '!important;}';
    }

    ReFl();

    window.addEventListener('resize', ReFl, false);*/




</script>