<!--添加成员 模态框-->
<div class="hkb_dialog" id="addMember">

    <div class="dialog_bg"></div>
    <div class="dialog_box">
        <div class="dialog_top">
            <div class="dialog_close"><span>×</span></div>
            <p>成员管理详情</p>
        </div>
        <!-- body-->
        <div class="dialog_body">
            <div class="dialog_content">
                <!-- list 1-->
                <div class="dialog_list">
                    <div>
                        <span>姓名：</span>
                        <span>周大福</span>
                    </div>
                    <div>
                        <span>职位：</span>
                        <span>门店店长</span>
                    </div>
                </div>
                <div class="dialog_list">
                    <div>
                        <span>门店：</span>
                        <span>陆家嘴软件园</span>
                    </div>
                    <div>
                        <span>所属行业：</span>
                        <span>餐饮(园区食堂)</span>
                    </div>
                </div>

                <!-- list 2-->
                <div class="dialog_list">
                    <div>
                        <span>登录账号：</span>
                        <span>126718777289</span>
                    </div>
                    <div>
                        <span>手机号码：</span>
                        <span>126718777289</span>
                    </div>
                </div>
                <div class="dialog_list">
                    <div>
                        <span>时候启用：</span>
                        <span>是</span>
                    </div>
                    <div>
                        <span>备注：</span>
                        <span><input class="dialog_input"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="dialog_footer">
            <button type="button" class="hkb_btn btn_green" onclick="addDetailDialog.hide()">保存</button>
        </div>
    </div>
</div>