<!--删除成员 模态框-->
<div class="hkb_dialog" id="delMember">

    <div class="dialog_bg"></div>
    <div class="dialog_box">
        <div class="dialog_top">
            <div class="dialog_close"><span>×</span></div>
            <p>成员管理删除</p>
        </div>
        <!-- body-->
        <div class="dialog_body">
            <div class="dialog_content">
                <p class="dialog_big_text">是否删除该成员</p>
            </div>
        </div>
        <!-- footer -->
        <div class="dialog_footer">
            <a class="hkb_btn btn_white dialog_cancel" onclick="delDetailDialog.hide()">取消</a>
            <a class="hkb_btn btn_green" onclick="delDetailDialog.hide()">确定</a>

        </div>
    </div>
</div>