<!--成员管理-->
<div class="content_body">

    <div class="title_content_title">
        <p><img src="../../icon/tab_add_membersa_green.png"><span  onclick="window.location.href='../merchant_management/hkb_member_management.html'">成员管理</span>&nbsp;>&nbsp;<span>编辑成员</span></p>
        <p>
            <button type="button" class="hkb_btn btn_white"  onclick="window.location.href='../merchant_management/hkb_member_management.html'">返回</button>
        </p>

    </div>


    <div class="info_content_operation">


        <div class="control_list_center">

            <div class="hkb_list word_list">
                <span>用户名：</span>
                <span>
                  庄中煲
                </span>

            </div>

            <div class="hkb_list word_list">
                <span>手机号码：</span>
                <span>
                  13819726535
                </span>
            </div>

            <div class="hkb_list text_list">
                <span>登录密码：</span>
                <span>
                     <input type="password" class="text_input" placeholder="请输入登录密码" value="iasbnfuisbsi">
                </span>
            </div>

            <div class="hkb_list text_list">
                <span>确认密码：</span>
                <span>
                     <input type="password" class="text_input" placeholder="请输入确认密码" value="iasbnfuisbsi">
                </span>
            </div>



        </div>

        <div class="control_list_center right_list">

            <div class="hkb_list word_list">
                <span>所属行业：</span>
                <span>
                   餐饮(园区食堂)
                </span>
            </div>

            <div class="hkb_list word_list">
                <span>所属商户：</span>
                <span>
                   烟波亭
                </span>
            </div>

            <div class="hkb_list select_list">
                <span>职位选择：</span>
                <span>
                    <select class="hkb_selectinput">
                        <option value="请选择" selected="selected">请选择</option>
                        <option value="总财务">总财务</option>
                        <option value="门店店长">门店店长</option>
                        <option value="门店财务">门店财务</option>
                        <option value="物管">物管</option>
                    </select>
                </span>
            </div>

            <div class="hkb_list select_list">
                <span>门店选择：</span>
                <span>
                    <select class="hkb_selectinput">
                        <option value="已选择" selected="selected">请选择</option>
                        <option value="已归档">已归档</option>
                        <option value="未归档">未归档</option>
                        <option value="原始数据">原始数据</option>
                        <option value="已调整">已调整</option>
                    </select>
                </span>
            </div>

        </div>


    </div>

        <!-- button-->

        <div class="page_button">
            <a><button class="hkb_bottom_btn cancel_btn"  onclick="window.location.href='../merchant_management/hkb_member_management.html'">取消</button></a>
            <a><button class="hkb_bottom_btn confirm_btn"  onclick="window.location.href='../frame/hkb_basic_platform.html'">保存</button></a>
        </div>


</div>



