<div class="content_body">
    <div class="hkb_platform_error error_403">
        <!--背景-->
        <div class="hkb_cartoon_pic">

            <!-- 背景-->
            <div class="bg_403"></div>
            <!--红绿灯-->
            <div class="lamp_shape"></div>
            <!--雪花-->
            <div class="hkb_cartoon_snowflake">


                <div class="snowflake_01"></div>

                <div class="snowflake_02"></div>

                <div class="snowflake_03"></div>


            </div>
            <!--文本-->
            <div class="text_403">
                <div>
                    <p>很抱歉</p>
                    <p>您没有权限查看此页面哦..</p>
                </div>
            </div>


        </div>

        <div class="error_btn_area">
            <div class="hkb_error_btn" onclick="">刷新页面</div>
        </div>

    </div>
</div>