<div class="content_body">
    <div class="hkb_platform_error error_404">
        <!--背景-->
        <div class="hkb_cartoon_pic">


                <div class="bg_404"></div>


                <div class="rocket_404"></div>


                <div class="smoke"></div>


                <div class="cloud_01"></div>


                <div class="cloud_02"></div>


                <div class="text_404">

                    <div>
                        <p>很遗憾</p>
                        <p>您访问的页面去太空啦..</p>
                    </div>

                </div>



        </div>

        <div class="error_btn_area">
            <div class="hkb_error_btn" onclick="">返回上一级</div>
        </div>

    </div>
</div>