<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/basic/metaNormal.ejs') %>
    <title>汇卡宝商户自助管理平台</title>
</head>
<body>

<%- include('../../component/basic/error.ejs') %>

</body>
</html>