<!--成员管理-->

<section class="hkb_membership_section">

    <div class="section_membership_top">


        <div class="membership_top_title"><img src="../../images/hkb_icon_membership.png"/>
            <span class="membership_add_title">添加成员</span>
        </div>

        <div class="membership_top_button"><a href="#">返回</a></div>

    </div>


    <div class="section_membership_center">

        <div class="membership_input_left">

            <label>
                <div class="membership_input_title_first">  用户名：</div>
                <input class="membership_input_add" type="text">
                <div class="membership_input_prompt_first">*填写4-24个字符，一个汉字相当于两个英文字符</div>
            </label>


            <label>
                <div class="membership_input_title">手机号码：</div>
                <input class="membership_input_add" type="tel"  maxlength="11">
            </label>


            <label>
                <div class="membership_input_title">登录密码：</div>
                <input class="membership_input_add" type="password" maxlength="16">
                <div class="membership_input_prompt">*为了您的账号安全，建议密码最少设置为6-16个字符</div>
            </label>


            <label>
                <div class="membership_input_title">确认密码：</div>
                <input class="membership_input_add" type="password" maxlength="16">
            </label>

        </div>


        <div class="membership_select_right">


            <div class="membership_select_job">所属行业：餐饮（园区食堂）</div>
            <div class="membership_select_seller">所属商户：烟波亭</div>


            <div>
                <div class="membership_select_title">职位选择：</div>

                <select>
                    <option value="choose">请选择</option>
                    <option value="1">总财务</option>
                    <option value="2">门店店长</option>
                    <option value="3">门店财务</option>
                    <option value="4">物管</option>
                </select>
            </div>




        <div>
            <div class="membership_select_title">门店选择：</div>

            <select>
                <option class="green" value="choose">请选择</option>
                <option class="green" value="1">震旦店</option>
                <option value="2">蒙自路店</option>
                <option value="3">枫林国际中心店</option>
                <option value="4">陆家嘴软件园店</option>
                <option value="5">金外滩店</option>
            </select>
        </div>

        </div>
    </div>


    </div>


    <div class="section_membership_base">

        <div class="membership_base_button">提交</div>

    </div>


</section>



<!--
<footer class="membership_footer">        &lt;!&ndash;版权地址&ndash;&gt;

    <div class="membership_footer_copyright">Copyright © 2011-2017 xxxxxxx公司 版权所有 保留一切权利</div>

    <div class="membership_footer_ip">上B0-00000000号 | 苏ICP备00000000号-0</div>

</footer>-->
